[submodule "spdlog"]
	path = spdlog
	url = https://github.com/gabime/spdlog
[submodule "fmt"]
	path = fmt
	url = https://github.com/fmtlib/fmt
[submodule "xed"]
	path = xed
	url = https://github.com/intelxed/xed.git
[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw
